{% load static %}                    
    <script src="{% static 'core/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'core/js/custom.min.js' %}"></script>
    <script src="{% static 'core/js/settings.js' %}"></script>
    <script src="{% static 'core/js/gleek.js' %}"></script>
    <script src="{% static 'core/js/styleSwitcher.js' %}"></script>

    <!-- Chartjs -->
    <script src="{% static 'core/./plugins/chart.js/Chart.bundle.min.js' %}"></script>
    <!-- Circle progress -->
    <script src="{% static 'core/./plugins/circle-progress/circle-progress.min.js' %}"></script>
    <!-- Datamap -->
    <script src="{% static 'core/./plugins/d3v3/index.js' %}"></script>
    <script src="{% static 'core/./plugins/topojson/topojson.min.js' %}"></script>
    <script src="{% static 'core/./plugins/datamaps/datamaps.world.min.js' %}"></script>
    <!-- Morrisjs -->
    <script src="{% static 'core/./plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'core/./plugins/morris/morris.min.js' %}"></script>
    <!-- Pignose Calender -->
    <script src="{% static 'core/./plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'core/./plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
    <!-- ChartistJS -->
    <script src="{% static 'core/./plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'core/./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'core/./js/dashboard/dashboard-1.js' %}"></script>



    <!-- DatatableJS -->
    <script src="{% static 'core/plugins/tables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/plugins/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'core/plugins/tables/js/datatable-init/datatable-basic.min.js' %}"></script>

