{% extends 'core/base.html' %}
{% load static %}
{% block idn_domain_forms_content %}
<div class="container-fluid mt-3">
    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="col-lg-12">
            <div class="alert alert-primary">{{ message }}</div>
        </div>
        {% endfor %}
        {% endif %}
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add New IDN Domain</h4>
                    <div class="basic-form">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Select English Domain</label>
                                {{ idn_dashboard_form_obj.English_domain }}
                            </div>
                            <div class="form-group">
                                <label>Select IDN Language</label>
                                {{ idn_dashboard_form_obj.Language }}
                            </div>
                            <div class="form-group">
                                <label>Enter IDN URL</label>
                                {{ idn_dashboard_form_obj.IDN_domain }}
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="form_type" value="IDNDOMAINFORM"/>
                            </div>

                            <div class="outline-button">
                                <button type="submit" class="btn mb-1 btn-outline-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add New English Domain</h4>
                    <div class="basic-form">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Select Category</label>
                                {{ English_Domain_Form_obj.category }}
                            </div>
                            <div class="form-group">
                                <label>Enter Department Name</label>
                                {{ English_Domain_Form_obj.department_name }}
                            </div>
                            <div class="form-group">
                                <label>Enter English Domain</label>
                                {{ English_Domain_Form_obj.domain_name }}
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="form_type" value="ENGDOMAINFORM"/>
                            </div>
                            <div class="outline-button">
                                <button type="submit" class="btn mb-1 btn-outline-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
