{% load static %}

<!--           **********************************
            Nav header start
        ***********************************           -->
<div class="nav-header">
  <div class="brand-logo">
    <a href="index.html">
      <b class="logo-abbr"><img src="{% static 'core/images/logo.png' %}" alt="" /></b>
      <span class="logo-compact"><img src="{% static 'core/images/logo.png' %}" alt="" /></span>
      <span class="brand-title"><img src="{% static 'core/images/logo.png' %}" alt="" /></span>
    </a>
  </div>
</div>
<!--           **********************************
                Nav header end
            ***********************************           -->
