{% extends 'core/base.html' %}
{% load static %}
{% block total_record_table_content %}
  <div class="container-fluid mt-3">

    <div class="row">
      <h1>Data Table of Total Record</h1>
      <div class="container-fluid">
       
        <div class="row">
        
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
                 {% if messages %}
                    {% for message in messages %}
                       {{message}}
                    {% endfor %}
                {% endif %}
                </h4>
                <div ><a class="btn btn-primary float-right" href="{%url 'core:add_new_url' %}">Add IDN Domain Record</a></div>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered zero-configuration">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>English Domain</th>
                        <th>IDN Domain</th>
                        <th>SSL Status</th>
                        <th>Domain Functionality</th>
                        <th>Home Page Content Language</th>
                        <th>Record Created On</th>
                        <th>Last Updated On</th>
                        <th>Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for data in URL_dashboard_obj%}
                        <tr>
                          <td>{{data.English_domain}}</td>
                          <td>{{data.Language}}</td>
                          <td>{{data.IDN_domain}}</td>
                          <td>{{data.ssl_configuration_status}}</td>
                          <td>{{data.idn_domain_running_status}}</td>
                          <td>{{data.content_language}}</td>
                          <td>{{data.updated_On}}</td>
                          <td>{{data.Last_Updated_On}}</td>
                          <td>{{data.Remark}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!--Legend Note Starts -->
<div class="row my-3" style="background:aliceblue">
    <div class="col-12">
        <ul class="Legend p-2">
            <h6 class="text-left">Note : </h6>
            <li class="Legend-item" style="font-size:12px">
                <span class="Legend-colorBox" style="background-color: #0093ae9c;">
                </span>
                <span class="badge badge-secondary" style="background-color:#21c2ac">Domain Functional</span> - 
                A website domain is functional when it is operational and accessible on the internet, allowing users to access its content and services without encountering significant issues.
              </li>
            <li class="Legend-item" style="font-size:12px">
              <span class="Legend-colorBox" style="background-color: #0093ae9c;">
              </span>
              <span class="badge badge-secondary" style="background-color:#4f5696">SSL Valid</span> -
              A website SSL is configured check ensures that Secure Sockets Layer (SSL) encryption is properly implemented, providing a secure connection between the user's browser and the website's server.
            </li>
            <li class="Legend-item" style="font-size:12px">
              <span class="Legend-colorBox" style="background-color: #c2d6ff;">
              </span>
              <span class="badge badge-secondary" style="background-color:#c29721">
                   Content Localized
              </span>
              - A webiste content localization is checked, detecting the language of the Homepage content
            
            </li>
        </ul>
        <ul>
        
            <span class="badge badge-secondary" style="background:#0a2c5f">Last Updated on : 13/12/2023</span> 
      
        </ul>
        
    </div>
</div>

        <!-- Legend Note Ends -->
      </div>
    </div>
  </div>
{% endblock %}
