{% extends 'core/base.html' %}
{% load static %}
{% block url_add_form_content %}
  <div class="container-fluid mt-3">
    {% if messages %}
        {% for message in messages %}
          {{message}}
        {% endfor %}
    {% endif %}
    <div class="row">
      <form method="POST">
        {% csrf_token %}
        
            <label for="EnglishCategory">Select Category: <span class="text-danger">* </span></label><div>{{English_Domain_Form_obj.category}}</div>
        
       
            <label for="inputengDomain">Enter English Domain: <span class="text-danger">* </span></label><div>{{English_Domain_Form_obj.domain_name}}</div>
       
      

        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
